* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}

.logo_header, .logo_footer, .title_menu {
    font-family: "Shrikhand", Arial, sans-serif;
}

header {
    text-align: center;
    padding: 25px;
    box-shadow: 0px 3px rgb(207, 206, 206);
    margin-bottom: 3px;
    padding: 25px;
}

@media all and (max-width: 780px) {

    /***********************
    *
    * *** Page d'Acceuil ***
    *
    ************************/
    .footer_image {
        filter: invert(1);
    }

    .localisation, .header_content {
        justify-content: center;
    }

    .localisation {
        background-color: #e6e6e6;
        display: flex;
        padding: 25px;
        color: #424242;
    }

    .localisation i {
        margin-right: 25px;
        font-size: 1.3em;
    }

    .localisation_text {
        font-weight: bold;
        font-size: 1.3em;
    }

    .header_content {
        text-align: center;
        padding: 40px;
    }

    .header_content h2 {
        font-weight: bold;
        margin: auto;
        max-width: 500px;
        margin-bottom: 20px;
        font-size: 2.6em;
        
    }

    .header_content p {
        max-width: 700px;
        margin: auto;
        margin-bottom: 50px;
        font-size: 2.0em;
        color: #555454;
    }

    .submit_button {
        width: 350px;
        padding: 20px 25px 20px 25px;
        border-radius: 35px;
        color: white;
        background: linear-gradient(#FF79DA , #9356DC);
        border: none;
        font-weight: bold;
        font-size: 1.5em;
        box-shadow: 0px 3px 3px 3px rgb(207, 206, 206);
        margin-bottom: 40px;
    }

    .submit_button:hover {
        cursor: pointer;
    }

    .header_content, #cards_section {
        background-color: #f5f3f3;
    }


    #functionning_section {
        margin: 50px 25px 90px 25px;
    }

    #functionning_section h2 {
        margin-bottom: 50px;
        font-size: 2.0em;
    }

    .container_wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container {
        display: relative;
        align-items: center;
    }

    .content_number {
        position: absolute;
        background-color: #9356DC;
        color: white;
        padding: 5px 10px 0px 10px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 1.5em;
    }

    .content_menu {
        display: flex;
        align-items: center;
        background-color: #f5f3f3;
        box-shadow: 0px 5px 3px rgb(228, 227, 227);
        border-radius: 25px;
        font-weight: bold;
        padding: 30px;
    }

    .content_menu i {
        color: #555454;
        margin-right: 30px;
        font-size: 1.9em;
    }

    .content_menu p {
        align-items: center;
        font-size: 1.5em;
    }

    #cards_section {
        padding: 60px 25px 50px 25px;
    }

    #cards_section h2 {
        font-size: 2.0em;
        margin-bottom: 35px;
    }

    .cards_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgb(202, 200, 200);
        height: 500px;
    }

    .card_image {
        height: 400px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card_description_fs {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .description_content {
        margin-left: 10px;
        font-size: 1.3em;
    }

    .description_content .description_text {
        color: #555454;
    }

    .icon_content {
        margin-right: 40px;
        font-size: 3.0em;
    }

    .title_text {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 1.3em;
    }
    
    footer {
        background-color: #424242;
        color: white;
        padding: 30px 25px 40px 25px;

    }

    footer ul {
        margin-top: 20px;
    }

    footer li {
        padding: 5px;
        list-style: none;
        font-size: 1.7em;
    }

    footer i {
        margin-right: 20px;
    }

    /*********************************
    *
    * *** Page Menu à la Française ***
    *
    *********************************/
    .main_content_menu {
        position: relative;
    }
    
    main {
        padding: 0px 25px 0px 25px;
    }

    .image_container {
    }

    .image_container img {
        max-width: 780px;
    }

    .cards_menu_wrap {
        background-color: #e6e6e6;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }

    .card_header i {
        font-size: 3.0em;
        padding-right: 20px;
    }

    .title_menu {
        font-size: 3.5em;
    }

    main h3 {
        font-weight: normal;
        margin-bottom: 25px;
        color: #555454;
        border-bottom: 4px solid #99E2D0;
        padding-bottom: 5px;
        width: 100px;
        font-size: 2.0em;
    }

    .list_cards_menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .type_of_meal {
        margin-top: 60px;
    }

    .card_menu {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 25px 35px 25px 20px;
        box-shadow: 3px 3px 3px rgb(202, 200, 200);
    }

    .description_title_menu {
        font-weight: bold;
        font-size: 2.2em;
    }

    .description_text_menu {
        margin-top: 8px;
        color: #555454;
        font-size: 1.8em;
    }

    .price_menu {
        position: relative;
        top: 50px;
        font-weight: bold;
        font-size: 2.0em;
    }

    .submit_section {
        padding: 60px 0px 40px 0px;
        text-align: center;
    }
}