* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}

.logo_header, .logo_footer {
    font-family: "Shrikhand", Arial, sans-serif;
}

header {
    text-align: center;
}

.title_text {
    font-weight: bold;
}

@media all and (max-width: 780px) {
    .localisation, .header_content {
        text-align: center;
    }

    .localisation {
        background-color: #e6e6e6;
    }

    .header_content, #cards_section {
        background-color: #f5f3f3;
    }

    .container {
        display: flex;
    }

    .content_number {
        background-color: #9356DC;
        color: white;
        padding: 5px;
        border-radius: 50%;
    }

    .content {
        background-color: #f5f3f3;
        box-shadow: 2px 2px 2px rgb(202, 200, 200);
        border-radius: 10px;
        font-weight: bold;
    }

    #cards {
        
    }

    .card {
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgb(202, 200, 200);
        height: 250px;    
    }

    .card_image {
        height: 200px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .card_description_fs {
    }

    footer {
        background-color: #424242;
        color: white;
    }

    footer li {
        list-style: none;
    }
}